@media (min-width:750px) {
    
    header nav div img {
        width: 9em;
        height: 8em;
    }

    .center-index div img{
        height: 500px;
    }

    h1{
        font-size: 60px;
        padding: 40px 0px;
    }

    p {
        width: 70%;
        text-align: left;
        line-height: 30px;
        padding: 20px 0px 20px 0px;
    }

        /*  galeria Html*/

        .galeria{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
        
            .fotos{
                justify-content: space-around;
        
                img{
                    width: 26rem;
                    height: 22rem;
                    padding: 35px;
                    border-radius: 35px;
                    box-shadow: 0px 0px 5px rbga(0,0,0,0.3);
                }
            }
        }

}