@media (min-width:750px) {
    
    header nav div img {
        width: 9em;
        height: 8em;
    }

    .center-index div img{
        height: 500px;
    }

    h1{
        font-size: 60px;
        padding: 40px 0px;
    }

    p {
        width: 70%;
        text-align: left;
        line-height: 30px;
        padding: 20px 0px 20px 0px;
    }
}