@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  text-align: center;
  min-height: 100vh;
}

/* 320px , 480 px ( telefono modo horizontal) , 600 px tablets pequeñas , 768 px y 1023 px ipad , 1024 px , 1200 px */
/* 0 a 320 px*/
header {
  width: 100%;
  background-color: rgba(255, 192, 203, 0.705);
  font-size: 1.3rem;
  font-weight: bolder;
  border: 2px solid black;
  padding: 0;
}

.blanco {
  background-color: white;
}

.nav-link {
  border: 2px solid black;
}

header nav div img {
  width: 4em;
  height: 3.5em;
}

.center-index div {
  padding-bottom: 1em;
}

.center-index div img {
  width: auto;
  height: 205px;
  border: 2px solid black;
  justify-content: center;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

p {
  width: 75%;
  text-align: left;
  line-height: 30px;
  padding: 20px 0px 20px 0px;
}

h1 {
  padding: 15px 0px 5px 15px;
  font-weight: bolder;
}

/* tabla posiciones */
.tablapos {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid black;
  font-size: 16px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 15px;
  margin-top: 15px;
}

thead {
  background-color: rgba(0, 0, 0, 0.911);
  color: white;
}

th {
  padding: 13px 5px;
  text-transform: uppercase;
}

td {
  padding: 7px;
  border-bottom: 1px solid rgb(113, 114, 108);
}

.primeros {
  background-color: rgba(117, 36, 192, 0.377);
}

/* footer */
.foooter {
  background-color: rgba(255, 192, 203, 0.836);
}

.footer section a {
  justify-content: center;
}

.footer section img {
  margin-top: 0px;
  padding: 5px;
}

.fondofooter {
  background-color: rgba(0, 0, 0, 0.973);
  height: 100%;
  padding-top: 30px;
}

footer .foooter .fondofooter h2 {
  color: white;
}

.redesfooter {
  background-color: rgba(255, 192, 203, 0.705);
}

@media (min-width: 500px) {
  header nav div img {
    width: 6em;
    height: 5em;
  }
  .center-index div {
    padding-bottom: 2em;
  }
  .center-index div img {
    height: 300px;
  }
  h1 {
    font-size: 45px;
    padding: 1em 0em 0.5em 0em;
  }
  p {
    width: 75%;
    text-align: left;
    line-height: 30px;
    padding: 20px 0px 20px 0px;
  }
  td {
    padding: 16px;
  }
  footer {
    width: 100%;
  }
  .foooter {
    height: 200px;
  }
}
@media (min-width: 750px) {
  header nav div img {
    width: 9em;
    height: 8em;
  }
  .center-index div img {
    height: 500px;
  }
  h1 {
    font-size: 60px;
    padding: 40px 0px;
  }
  p {
    width: 70%;
    text-align: left;
    line-height: 30px;
    padding: 20px 0px 20px 0px;
  }
}
@media (min-width: 992px) {
  header {
    width: 100%;
    background-color: rgba(255, 192, 203, 0.705);
    font-size: 1.5rem;
    font-weight: bolder;
    border: 2px solid black;
    padding: 0px 100px;
  }
  header nav div img {
    width: 9em;
    height: 8em;
    padding-right: 1em;
  }
  .center-index div {
    padding-bottom: 2em;
  }
  .center-index div img {
    height: 600px;
  }
  h1 {
    font-size: 70px;
    padding: 1em 0em 0.5em 0em;
  }
  p {
    width: 70%;
    text-align: left;
    line-height: 35px;
    padding: 20px 0px 20px 0px;
    font-size: 1.2rem;
  }
  footer div section img {
    width: 120px;
    height: 90px;
  }
}/*# sourceMappingURL=sass.css.map */